<head>
    <meta charset="utf-8"/>
    <title>Blog</title>
    <link rel="stylesheet" href="/css/blog.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
</head>
<body>
    <nav class="navbar">
        <a class="navbar-brand clean-link" href="">Blog</a>
    </nav>

    <div class="container">
        <section id="main-content-section" class="card">
            <div class="blog-list-container card-body"></div>
        </section>

        <aside id="side-content-section" class="card">
            <div class="card-body">
                <h5>Sidebar</h5>
            </div>
        </aside>

        <div class="clear-fix"></div>
    </div>

    <footer>
        <p>&copy; 2018 Blog. All rights reserved.</p>
    </footer>

    <script src="/js/jquery-3.1.0.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/blog.js"></script>
    <script>
        "use strict";

        $(function () {
            const CONTAINER = $("section#main-content-section").find("div.blog-list-container");

            $.getJSON("./data/blog-list.json", function (response) {
                $.each(response, function (index, blog) {
                    let blogId = blog.id;

                    CONTAINER.append("<article id='blog_" + blogId + "' class='blog-item'></article>");

                    const ARTICLE = CONTAINER.find("article#blog_" + blogId + ".blog-item");
                    const BLOG_ITEM_BODY = "div.blog-item-body";

                    ARTICLE.html("<div class='blog-item-body'></div>");
                    ARTICLE.find(BLOG_ITEM_BODY)
                        .append("<img src='./" + blog.imagePath + "' width='150' height='100' style='padding: 15px;'/>")
                        .append("<a href='blog-details.html' class='blog-title cursor-pointer'></a>");
                    ARTICLE.find("a.blog-title")
                        .append("<h4>" + blog.title + "</h4>");
                    ARTICLE.find(BLOG_ITEM_BODY)
                        .append("<p class='blog-posted-details'></p>");
                    ARTICLE.find("p.blog-posted-details")
                        .append("<span class='text-danger'>" + blog.postedBy + "</span>")
                        .append("<br/>")
                        .append("<span class='text-muted'>" + blog.datePosted + "</span>");
                    ARTICLE.find(BLOG_ITEM_BODY)
                        .append("<br/><br/>");
                });
            });
        });
    </script>
</body>