body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #ece9e9;
    min-height: 850px;
}

nav.navbar, .container {
	padding: 40px;
}

nav.navbar {
	width: 100%;
	position: fixed;
	z-index: 999999;
	background-color: #000000;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}

nav.navbar .navbar-brand {
	color: #ffffff;
	font-weight: bolder;
	font-size: 20px;
}

label {
    display: block;
}

label span {
    font-size: 10px;
}

section#main-content-section {
	width: 65%;
	height: auto;
	position: absolute;
}

aside#side-content-section {
	width: 27%;
	height: auto;
	position: absolute;
	left: 70%;
}

footer {
	width: 100%;
    margin: 0;
	padding: 10px 0 10px 0;
	text-align: center;
    font-size: 12px;
	background-color: #ffffff;
	color: grey;
	position: fixed;
    bottom: 0;
}

form input, textarea {
    width: 100%;
	padding: 10px;
    border: 1px #000000 solid;
	border-radius: 3px;
    background-color: transparent;
}

.container {
	position: relative;
	top: 100px;
}

.blog-list-container {
    width: 100%;
    position: absolute;
}

.blog-item {
    width: 100%;
    height: auto;
    display: inline;
}

.blog-item-body img {
	float: left;
}

.blog-title {
	color: #3eb1e0;
	text-decoration: none;
	margin-top: 10px;
}

.blog-posted-details {
	font-size: 12px;
}

.blog-title{
	position: relative;
}

.card {
	background-color: #ffffff;
    border-radius: 3px;
}

.card-body {
    padding: 15px;
    position: relative;
}

.form-group {
    display: block;
    margin-top: 10px;
}

.main-page {
	position: relative;
	min-height: 800px;
}

.clean-link {
	text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}

.text-danger {
	color: #d02a2a;
}

.text-muted {
	color: #7b7979;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.btn {
    padding: 10px;
    color: #ffffff;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

.btn-primary {
    background-color: #3eb1e0;
}